.g-row {
  @include grid-row;
}

.g-col {
  @include grid-column;
  width: 100%;
}
.g-col-1 {
  @include grid-column;
  width: 8.33333%; 
  }
   
.g-col-2 {
  @include grid-column;
  width: 16.66667%; 
  }
   
.g-col-3 {
  @include grid-column;
  width: 25%; 
  }
   
.g-col-4 {
  @include grid-column;
  width: 33.33333%; 
  }
   
.g-col-5 {
  @include grid-column;
  width: 41.66667%; 
  }
   
.g-col-6 {
  @include grid-column;
  width: 50%; 
  }
   
.g-col-7 {
  @include grid-column;
  width: 58.33333%; 
  }
   
.g-col-8 {
  @include grid-column;
  width: 66.66667%; 
  }
   
.g-col-9 {
  @include grid-column;
  width: 75%; 
  }
   
.g-col-10 {
  @include grid-column;
  width: 83.33333%; 
  }
   
.g-col-11 {
  @include grid-column;
  width: 91.66667%; 
  }
   
.column-12 {
  @include grid-column;
  width: 100%; 
  } 