@import
'./shared',
'minx/src/reset',
'minx/src/elements',
'./grid';


html {
  overflow-y: scroll;
}

body {
  padding-bottom: 120px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

::selection {
  background: #c6c6c6;
}


// .thumbnail {
//   position: relative;
//   width: 50px;
//   height: 50px;
//   overflow: hidden;
// }
// .thumbnail img {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   height: 100%;
//   width: auto;
//   -webkit-transform: translate(-50%,-50%);
//       -ms-transform: translate(-50%,-50%);
//           transform: translate(-50%,-50%);
// }
// .thumbnail img.portrait {
//   width: 100%;
//   height: auto;
// }


// img:hover {
//   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
// }